body {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

#root {
    height: 100%;
}

html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
}

input[readOnly] {
    color: $co-disabledText;
}

select[disabled] {
    color: $co-disabledText;
    opacity: unset;
    &:hover {
        cursor: default;
    }
}
